*{
  box-sizing: border-box
}
body {
  background: rgb(19, 19, 19);
  overflow-x: hidden
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'dazzle-bold';
    src: url('../font/dazzleBold.ttf') format('truetype'); /* Adjust path and format if necessary */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'dazzle-mid';
    src: url('../font/dazzleMid.ttf') format('truetype'); /* Adjust path and format if necessary */
    font-weight: normal;
    font-style: normal;
  }
.advance-section svg {width: 20px;}
.icon-cir {

  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 15px;
}
.icon-cir svg {
  fill: #ffffff;
}
.flow-icons li svg {
  width: 20px;
}
.tradeIcon {
  fill: #ffffff;
}
.tradeIcon.down {
  fill: red;
}
.tradeIcon.up {
  fill: green;
}
@media only screen and (max-width: 600px) {
  .bottom-logo-text {
    font-size: 50px;
    margin: 0;
  }
}
.menubtn span {
  transition: all ease-in-out .3s;
}
.menubtn[data-state="open"] span {
transform: rotate(90deg);
}
header {
position: fixed;
  top: 0;
  margin-top: 0;
  
  transition: transform 0.3s ease-in-out;
}
header.sticky {
 position: fixed;
 top: 0;
  width: 100%;
  left: 0;
 
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, .9),
      rgba(0, 0, 0, .7)
    );
  
}
header.sticky.hide {
  transform: translateY(-100%);
}
header.sticky.show {
  transform: translateY(0);
}
.register-phone-no .react-tel-input {
  width: 100%;
  margin-top: 10px;
}
.register-phone-no .react-tel-input input {
  width: 100%;
}
.register-phone-no .flag-dropdown .country-list {
  position: absolute;
  width: 200px;
  overflow-x: hidden;
  border: 1px #000000 solid;
  border-radius: 10px;
}
.register-phone-no .flag-dropdown .country-list::-webkit-scrollbar {
  display: none;
}
.register-phone-no .search-emoji{
  display: none;
}
.register-phone-no .react-tel-input .country-list .search {
  padding: 0;
}
.register-phone-no .react-tel-input .country-list .search input {
  padding: 10px;
  border-bottom: 1px #000000 solid;
  margin: 0;
}
.register-phone-no .react-tel-input  .form-control {
  border-radius: 50px;
  border: 1px #000000 solid;
}
.register-phone-no .react-tel-input .flag-dropdown , .register-phone-no .react-tel-input .flag-dropdown.open  {
  border-radius: 50px;
  border: 1px #000000 solid;
  border-top-right-radius:0 ;
  border-bottom-right-radius:0 ;

}
.register-phone-no .react-tel-input .flag-dropdown.open .selected-flag {
  border-radius: 50px;
}
.register-phone-no  .react-tel-input .selected-flag:hover, .register-phone-no  .react-tel-input .selected-flag:focus {
  background: none;
}
.register-phone-no .react-tel-input .form-control {
  height: 40px;
}
.grid-home-screen { display: flex;
  flex-direction: row;  /* Items arranged in a row (default behavior) */
      justify-content: space-between;  /* Distribute items with space between */
      align-items: center;  /* Vertically center items */
      gap: 1rem; overflow-x: auto; flex-wrap: nowrap; 
      padding: 10px;}
.grid-home-screen div {
  width: 350px;
flex-shrink: 0;
display: flex;


}
@media (min-width: 768px) {
  .grid-home-screen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    overflow: hidden;
  }
  .grid-home-screen div {
    width: auto;
  }
  .grid-home-screen div:nth-child(1) {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
  }
  .grid-home-screen div:nth-child(1)  img {
    object-fit: cover;
    object-position: center top;
    height: 100%;
  }
  .grid-home-screen div:nth-child(2)  {
    grid-row: span 2 / span 2;
      grid-column-start: 3;
  }
  
  .grid-home-screen div:nth-child(3) {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
  }
  
}

.tr-cross-scrtips {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  z-index: 12;
  align-self: baseline;
  background: #ffffff;

  position: relative;
  flex-direction: column;
  background: #ffffff;
}
.tr-cross-scrtips--one {
  width: 130%;
 
  background: black;
 
  position: relative;
  z-index: 3;
  margin-right: -15px;
  margin-left: -15px;
  transform-origin: right;
  display: flex;
  align-items: center;
}
.tr-cross-scrtips--two {
  width: 130%;

  background: #ffffff;
 
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
  z-index: 2;
  transform-origin: left;
  display: flex;
  align-items: center;
}


.tr-cross-scrtips ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}
.tr-cross-scrtips ul li {
  margin: 0px 10px;
  font-weight: bold;
  color:#ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-size: 18px;
  padding: 20px;
}
.tr-cross-scrtips ul li::before {
  content: '';
  height: 5px;
  display: flex;
  width: 5px;
  margin-right: 10px;

  background: #ffffff;
  border-radius: 50%;
}
.tr-cross-scrtips .tr-cross-scrtips--two ul li::before {
  background: white;
}
.tr-cross-scrtips .tr-cross-scrtips--two ul li {
  margin: 0px 10px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

}
.track:hover {
  animation-play-state: paused;
}

.track {

  white-space: nowrap;
  will-change: transform;
}
.track-left {
  animation: marquee-left 40s linear infinite;
}
.track-right {
  animation: marquee-right 40s linear infinite;
}
.props-icon svg {
  fill: #ffffff;
  height: 30px;
  
}
@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
